In [1]:
int_var = 5

int_var

5

In [2]:
type(int_var)

int

In [3]:
float_var = 2.5

float_var

2.5

In [4]:
type(float_var)

float

In [5]:
string_var = "hello"

type(string_var)

str

In [6]:
bool_var = True
type(bool_var)

bool

In [7]:
print(string_var)

hello

In [9]:
print(int_var, float_var, string_var, bool_var)

5 2.5 hello True

##converting numbers into string and vice versa

In [10]:
str(int_var)

'5'

In [11]:
str(float_var)

'2.5'

In [12]:
string_holding_int = '10'
int(string_holding_int)

10

In [14]:
float_val = 5.57
int(float_val)

5

In [15]:
val = 34
float(val)

34.0

In [16]:
str(bool_var)

'True'

In [20]:
boxes = 117
loaded_boxes = 64

number_of_empty_boxes = 'Number of empty boxes !' + str(boxes - loaded_boxes)


number_of_empty_boxes

'Number of empty boxes !53'

##Defining Strings  1. single quotes 2. Double Quotes 3. Triple Quotes

In [22]:
"i'm kelvin"

"i'm kelvin"

In [26]:
'1\'m Calvin'       #excape character

"1'm Calvin"

In [30]:
'''once upon a time there lived a software programer who ever lived , lazy but briliant in mind, always thinking outside the box, and suddenly started working with turing'''   #multi-line string are triple quote

'once upon a time there lived a software programer who ever lived , lazy but briliant in mind, always thinking outside the box, and suddenly started working with turing'