# CODE REUSE USING FUNCTION

Code reuse means write once and use as many times as possible

functions may be Custom or user defined, we've been using the  custom functions in writing program bu in this module we will dwell more on user defined functions

In [1]:
def do_something():
    pass

In [2]:
do_something()

In [3]:
def greet():
    print("Good Morning to you!")

In [4]:
greet()

Good Morning to you!

In [5]:
print("Hello")

Hello

In [6]:
len("Hello")

5

In [8]:
num_list = [2, 4, 6, 8]
sum(num_list)

20

In [9]:
abs(-10)

10

In [10]:
def say_hello():
    print("Hello there!")

In [12]:
say_hello()

Hello there!

In [18]:
def causes_error():
    some_var = 'some stuff here'
    print(some_var)

In [19]:
causes_error()

some stuff here

In [20]:
a = 2
b = 3
c = 4

def calculate_sum():
    result = a + b + c
    print('Sum of a, b, c is : ', result)
    if result < 10:
        print('the sum is less than 10!')

In [22]:
calculate_sum()

Sum of a, b, c is :  9
the sum is less than 10!

In [23]:
a = 1
calculate_sum()

Sum of a, b, c is :  8
the sum is less than 10!

In [24]:
b = 100
calculate_sum()

Sum of a, b, c is :  105

FUNCTION, INPUTS, ARGUMENT AND RETURN VALUES

In [25]:
def calculate_sum(a,b,c):
    result = a + b + c
    print('sum of a, b, c is : ', result)
    if result < 10:
        print('the sum is less than 10')
    else:
        print('the sum is greater than 10')

In [27]:
calculate_sum(4, 5, 2)

sum of a, b, c is :  11
the sum is greater than 10

In [28]:
x = 3
y = 4
z = 5
calculate_sum(x,y,z)

sum of a, b, c is :  12
the sum is greater than 10

In [29]:
def raise_to_the_power(num, exponent):
    power = num ** exponent
    print(power)

In [30]:
raise_to_the_power(4,2)

16

In [34]:
raise_to_the_power(3,3)

27

In [40]:
def raise_to_the_power(num, exponent):
    power = num ** exponent
    return power

In [43]:
raise_to_the_power(9,2)

81

In [44]:
result = raise_to_the_power(9,2)
result

81

In [47]:
def square_and_cube(num):
    square = num ** 2
    cube = num ** 3
    
    return square, cube

In [48]:
square_and_cube(3)

(9, 27)

In [49]:
square_and_cube(2)

(4, 8)

In [53]:
type(square_and_cube(2))

tuple

# REASSIGNING AND MODIFYING VARIABLES WITH A FUNCTION

All variables outside a function but within the confines of the codes are refered to as GLOBAL VARIABLES, while variables within a function is refered to LOCAL VARIABLES

In [10]:
int_var = 3
float_var = 3.3
string_var = 'Hello'
bool_var = True

In [14]:
def reassign_arguments_basictype(int_var, float_var, string_var, bool_var):
    int_var = 30
    float_var = 30.2
    string_var = 'Goodbye!'
    bool_var = False
    
    print('inside the function: ', int_var, float_var, string_var, bool_var)

In [15]:
print('outside the function:', int_var, float_var, string_var, bool_var)

outside the function: 3 3.3 Hello True

In [16]:
reassign_arguments_basictype(int_var, float_var, string_var, bool_var)

inside the function:  30 30.2 Goodbye! False

REASSIGN ARGUMENTS COMPLEX TYPES

In [17]:
some_list = ["john", "Mary"]
some_tuple =("John", "Mary")
some_dictionary = {"John": 50, "Mary": 55}

In [20]:
def reassign_arguments_complextype(some_list, some_tuple, some_dictionary):
    some_list = ("Alice")
    some_tuple = ("Alice")
    some_dictionary = {"Alice": 25}
    
    print("inside the function: ", some_list, some_tuple, some_dictionary)

In [21]:
print("Outside the function:", some_list, some_tuple, some_dictionary)

Outside the function: ['john', 'Mary'] ('John', 'Mary') {'John': 50, 'Mary': 55}

In [23]:
reassign_arguments_complextype(some_list, some_tuple, some_dictionary)

inside the function:  Alice Alice {'Alice': 25}

# ARGUMENT REASSIGNMENT VS MODIFICATION

In [31]:
popular_story_books = ["Geronino Stilton",
                       "Thea Stilton",
                       "Tirny Failure",
                       "Asterix",
                       "Tintin"]

In [32]:
def modify_list(popular_story_books):
    popular_story_books.append("Dr. Seuss")
    print(popular_story_books)

In [27]:
print( "Outside the function", popular_story_books)

Outside the function ['Geronino Stilton', 'Thea Stilton', 'Tirny Failure', 'Asterix', 'Tintin']

In [33]:
modify_list(popular_story_books)

['Geronino Stilton', 'Thea Stilton', 'Tirny Failure', 'Asterix', 'Tintin', 'Dr. Seuss']

modification to a complex datatype within a function are also reflected outside that function

In [34]:
 popular_story_books

['Geronino Stilton',
 'Thea Stilton',
 'Tirny Failure',
 'Asterix',
 'Tintin',
 'Dr. Seuss']

In [47]:
story_books = ["Avatar", "Aladdin", "Cindarella", "snow white"]

def modify_list(popular_story_books):
    story_books[1] = "Junie B Jones"
    story_books.pop()

In [49]:
story_books

['Avatar', 'Aladdin', 'Cindarella', 'snow white']

In [53]:
popular_story_books_dict = {'Geronino Stilton': 4,
                      'Thea Stilton': 5,
                      'Tirny Failure': 2,
                      'Asterix': 12,
                      'Tintin': 8,}

In [54]:
def modify_dict(story_books_dict):
    del story_books_dict['Tintin']
    
    story_books_dict['Famous Five'] = 3

In [55]:
modify_dict(popular_story_books_dict)

popular_story_books_dict

{'Geronino Stilton': 4,
 'Thea Stilton': 5,
 'Tirny Failure': 2,
 'Asterix': 12,
 'Famous Five': 3}

Defining functions with default values

# working with functions as first-class citizens in Python

In [61]:
def my_car(car):
    print("my car is a ", car)

In [62]:
my_car("Ford Endeavor")

my car is a  Ford Endeavor

In [63]:
my_car

In [71]:
car_fn = my_car              #variable parsing Assignment

In [70]:
car_fn("Porsche Panamera")

my car is a  Porsche Panamera

In [72]:
 maximum = max

In [74]:
num_list = [56, 8, 9678, 987, 7]

maximum(num_list)

9678