# IF STATEMENT

In [2]:
if 25 < 36:
    print("25 is less than 36")

25 is less than 36

In [3]:
if 25 > 36:
    print("Really? is 25 greater than 36?")

In [4]:
#it will not print any output when it evaluates to false, cos there's just one option

In [5]:
if 35  !=  25 :
    print("35 and 25 are Not exactly the same value")

35 and 25 are Not exactly the same value

In [6]:
if not 35 == 25:
    print('35 and 25 are Not exactly the same value')

35 and 25 are Not exactly the same value

Observe that Input 11 and Input 12 are alternative ways of writing the same code in python

In [7]:
num = 255
if num > 0:
    print('The number is greater than zero ', num)

The number is greater than zero  255

In [8]:
if num:
    print('The number is greater than zero', num)

The number is greater than zero 255

In [9]:
if 35 + 165 == 100 + 100:
    print('35 + 165 = 100 + 100 is correct')

35 + 165 = 100 + 100 is correct

# IF -ELSE STATEMENT

In [10]:
salary = 1000
expenses = 770

In [11]:
living_within_means = False
if salary - expenses > 0:
    living_within_means = True

In [12]:
print('Am I living within means?', living_within_means)

Am I living within means? True

In [13]:
if 100 > 50 > 10:
    print("100 > 50 > 10")

100 > 50 > 10

In [14]:
if  100 < 50 < 10:
    print("Nothing will be printed")

#because the statement evaluates to be false, nothing is being displayed

In [15]:
salary = 1000
expenses = 770

living_within_means = salary - expenses > 0
if living_within_means and expenses > 500:
    print("i'm glad you're saving but perhaps your expenses could be lower?")

i'm glad you're saving but perhaps your expenses could be lower?

In [16]:
if 2 <= 5 or 7 >= 8:
    print('this is printed because 2 is definitely less than 5')

this is printed because 2 is definitely less than 5

In [17]:
salary = 1000
expenses = 770
savings = 0
if salary > expenses:
    savings = salary - expenses
    print('savings for the month:', savings)

savings for the month: 230

In [18]:
salary = 1000
expenses = 770
if salary > expenses:
    print('Saving for the month', salary - expenses)
else:
    print('loans to tide over', expenses - salary)

Saving for the month 230

In [19]:
some_list =[3, 5, 2, 9, 10, 100, 22, 21, 41]
if  min(some_list) < 0:
        print('the smallest value in this list is negative')
else:
        print('the smallest value in this list is positive')
print(min(some_list))

the smallest value in this list is positive
2

In [20]:
salary = 1000
expenses = 1770

savings = 0
loans = 0

if salary > expenses:
    savings = salary - expenses
    print('Savings for the month:', savings)
else:
    loans = abs(salary - expenses)
    print('loans taken', loans)

print('savings ', savings, 'Loans ', loans)

loans taken 770
savings  0 Loans  770

# if ... elif  STATEMENT

In [21]:
classic_cars = ["Pierce Arrow", "Oldsmobile", "Mustang"]
sports_cars = ["Agera", "Regera", "Chiron", "Veyron"]
planes = ["A380", "747", "A370"]

In [22]:
if len(classic_cars) < 5:
    print("that isn't a very long list of classic Cars")

that isn't a very long list of classic Cars

In [23]:
transportation = 'A380'
if transportation in classic_cars:
    print('Your type of transportation is a classic car')
    
if transportation in sports_cars:
    print('Your type of transportation is a sports car')

if transportation in planes:
    print('Your type of transportation is a plane')

Your type of transportation is a plane

In [24]:
luxury_cars_and_their_horsepowers = {"Phantom": 414,
                                     "Cullinan": 420,
                                     "Wraith": 465,
                                     "Ghost": 420,
                                     "Dawn": 420
                                     }

In [25]:
if 'Phantom' in luxury_cars_and_their_horsepowers:
    print("the Phantom is in the Luxury_carsand_their_horsepowers")

the Phantom is in the Luxury_carsand_their_horsepowers

In [26]:
new_car={'Bently': 700,
         'Lamboghini': 950,
         'Ferarri': 800,
         'Mesaratti': 850
        }
if 'Lamboghini' not in luxury_cars_and_their_horsepowers:
    print("the car is not in the Luxury_car_sand_their_horsepowers")

the car is not in the Luxury_car_sand_their_horsepowers

In [28]:
math_score = 90

if math_score < 20:
    print("i'm afraid, that is not a great score ", math_score)
    
elif math_score < 50:
    print('Oh you can definitely do better than this ', math_score)
    
elif math_score < 80:
    print("Ahh you're close to the Highestgrade you can get", math_score)

elif math_score <100:
    print("You did great at Maths!", math_score)

You did great at Maths! 90