# PRINT FUNCTION

##print function

In [1]:
print('Hello John, How are you?')

Hello John, How are you?

In [2]:
print(2345)

2345

In [9]:
print("Hello John", "How are you?", sep ='\n')  #seperates the two string into 2 lines

Hello John
How are you?

In [8]:
print("Hello John ", " How are you?", sep ='|')    #sep function used for seperating

Hello John | How are you?

In [11]:
print("Hello John", "How are you?", end = '**')   #affixes the double asterics at the end of the string

Hello John How are you?**

In [12]:
len('abcd')     #the len functions determins the length of any string

4

In [15]:
statement ="Hail Ceasar"
len(statement)          #the length of the string including the empty space as counted

11

In [17]:
len('abcdefghijklmnopqrstuvwxyz')

26

In [20]:
len(1234567890) #the len function is not suitable for numbers, they must be strings

TypeError: object of type 'int' has no len()

In [21]:
len('1234567890')

10

# MIN AND MAX FUNCTION

#min  and max function:
the min built-in function helps to find the minimum or the maximum value for a collection of numbers

In [22]:
min(1, 3, 2.4, 5, 3, 6.54, 85, -5 )

-5

In [23]:
max(1, 5, 1, 23, 51752.55, 17, 1, 5, 15, 2, 155)

51752.55

In [29]:
age =[1, 5, 1, 23, 51752.55, 17, 1, 5, 15, 2, -155]
max(age)

51752.55

In [30]:
min(age)

-155

# ABSOLUTE FUNCTION

##absolute value function abs

In [32]:
abs(-100)

100

In [33]:
abs(65)

65

In [35]:
variance = -45
abs(variance)

45

In [37]:
core_val = 22
margin = -298
prime_index = core_val + margin

print(prime_index)
print(abs(prime_index))

-276
276

# SORTED FUNCTIONS

##sorted function: returns the character in the string singly in a list

In [41]:
sorted("hello")  #they're sorted in alphabetical order

['e', 'h', 'l', 'l', 'o']

In [40]:
sorted("python")

['h', 'n', 'o', 'p', 't', 'y']

In [42]:
sorted('abcdefgh', reverse = False)  #ascending order

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [43]:
sorted('abcdefgh', reverse = True)   #descending order

['h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

In [46]:
string_var ="HELLO JOHN, HOW ARE YOU?"
string_var.lower()       #the lower case of the string is returned

'hello john, how are you?'

In [47]:
lowercase_var = string_var.lower()

In [48]:
lowercase_var.upper()

'HELLO JOHN, HOW ARE YOU?'

In [51]:
lowercase_var ==     string_var.lower()

True

In [53]:
capitalized_string = lowercase_var.capitalize()

capitalized_string                 #returns a capitalized case of the statement

'Hello john, how are you?'

In [54]:
my_print = print("Hello John, How are you?")

my_print

Hello John, How are you?

In [55]:
print(my_print)

None

In [56]:
type(my_print)

NoneType

In [57]:
length = len('Hello')
print(length)

5

In [58]:
type(length)

int

In [59]:
result =abs(-12345)
print(result)

12345

In [60]:
type(result)

int

In [61]:
max_value = max(1, 2, 55364, 43, 2, 5, 5948661, 78664, 64)
print(max_value)

5948661

In [62]:
type(max_value)

int

In [67]:
sorted_characters = sorted('papilo', reverse = True )
print(sorted_characters)

['p', 'p', 'o', 'l', 'i', 'a']

In [64]:
type(sorted_characters)

list

In [73]:
 print(len(sorted_characters))        #putting functions in mesh

6

In [72]:
abs(max(-1,-2, -4, -7))

1

In [74]:
print(round(7.54))

8

# WORKING WITH LISTS IN PYTHON

##A List in Python is used to store an order sequence of elements, its a special data type in python

In [76]:
empty_list = []
type(empty_list)

list

In [77]:
print(empty_list)

[]

In [78]:
int_list = [1, 2, 3, 4, 5]   #list can hold integer 

int_list

[1, 2, 3, 4, 5]

In [80]:
string_list = ["Hello", "python", "world"]  #list can hold strings

string_list

['Hello', 'python', 'world']

In [82]:
mixed_list = [5, "Hello", True, 2.555] # a list can contain a combination of element with diff data types
mixed_list

[5, 'Hello', True, 2.555]

In [87]:
airbus_planes = ["Airbus AJ80", "Airbus AJ50", "Prototype Airbus A390"]

print(airbus_planes[0],airbus_planes[1]) #indexing is use to print elements of a list

Airbus AJ80 Airbus AJ50

In [88]:
airbus_planes[-1]  #prints the last element in the list

'Prototype Airbus A390'

In [113]:
boeing_planes = ['boeing 707', 'boeing 717', 'boeing 727', 'boeing 737 original']

last_index = len(boeing_planes) - 1

boeing_planes[last_index]

'boeing 737 original'

In [93]:
test_last = boeing_planes[-1]
test_last

'boeing 737 original'

In [114]:
last_index == test_last        #they're not equivalent

False

In [97]:
boeing_planes[last_index] == test_last   #they're equivalent

True

In [115]:
test_last     #string output

'boeing 737 original'

In [99]:
last_index #int output

3

In [100]:
boeing_planes[-2]     #displays 2nd to the last element

'boeing 727'

# list Slicing Operation and List Function

In [116]:
boeing_planes[0:3]    #all element from index 0 up to but not including index 3

['boeing 707', 'boeing 717', 'boeing 727']

In [103]:
airbus_planes[0:2]

['Airbus AJ80', 'Airbus AJ50']

In [104]:
boeing_planes[2:4]

['boeing 727', 'boeing 737 original']

In [117]:
boeing_planes[0:-1]

['boeing 707', 'boeing 717', 'boeing 727']

In [109]:
boeing_planes[0:3] == boeing_planes[0:-1] #equivalent slice

True

#the slice function does not include the element of the last index when outputing

# Append Function

#the Append function is use to add elements in an already existing list

In [118]:
boeing_planes.append("boeing 747")
boeing_planes

['boeing 707', 'boeing 717', 'boeing 727', 'boeing 737 original', 'boeing 747']

In [121]:
airbus_planes.append("airbus AJ91")
airbus_planes

['Airbus AJ80',
 'Airbus AJ50',
 'Prototype Airbus A390',
 'airbus AJ92',
 'airbus AJ92',
 'airbus AJ91']

# Insert Function

#the Insert fuction will add element in a list at a particular chosen index, Note:  it uses two parameters first for the indexing , 2nd for element.

In [124]:
boeing_planes.insert(4, 'boeing 737 Classic')
boeing_planes

['boeing 707',
 'boeing 717',
 'boeing 727',
 'boeing 737 original',
 'boeing 737 Classic',
 'boeing 737',
 'boeing 737',
 'boeing 747']

In [126]:
fighter_jets = ["Hurricane", "Tiger Moth"]
fighter_jets

['Hurricane', 'Tiger Moth']

In [132]:
fighter_jets.insert(2, 'F-16')
fighter_jets

['Hurricane', 'f-16', 'F-16', 'F-16', 'f-16', 'f-16', 'Tiger Moth']

#Remove function : it takes one argument

In [134]:
fighter_jets.remove('f-16')
fighter_jets

['Hurricane', 'F-16', 'F-16', 'f-16', 'f-16', 'Tiger Moth']

In [138]:
fighter_jets.pop()     #this removes the last element in the list
fighter_jets

['Hurricane', 'F-16', 'F-16', 'f-16']

The Sort Function will arrange the elements in a list in a lexical graphical order

In [140]:
fighter_jets.sort()
fighter_jets

['F-16', 'F-16', 'Hurricane', 'f-16']

use the reverse function to keep the element in their original state (position)

In [142]:
fighter_jets.reverse()
fighter_jets

['F-16', 'F-16', 'Hurricane', 'f-16']

# CONCATENATING AND COPYING LISTS

 ###you can concatenate different lists into a single list using the + operator

In [143]:
all_planes = airbus_planes + boeing_planes + fighter_jets

all_planes

['Airbus AJ80',
 'Airbus AJ50',
 'Prototype Airbus A390',
 'airbus AJ92',
 'airbus AJ92',
 'airbus AJ91',
 'boeing 707',
 'boeing 717',
 'boeing 727',
 'boeing 737 original',
 'boeing 737 Classic',
 'boeing 737',
 'boeing 737',
 'boeing 747',
 'F-16',
 'F-16',
 'Hurricane',
 'f-16']

##copy function

#you can make a copy of a list by using the Copy function

In [144]:
boeing_planes_copy = boeing_planes.copy()
boeing_planes_copy

['boeing 707',
 'boeing 717',
 'boeing 727',
 'boeing 737 original',
 'boeing 737 Classic',
 'boeing 737',
 'boeing 737',
 'boeing 747']

In [147]:
#you can delete a variable with the del keyword,

In [148]:
del boeing_planes

boeing_planes

NameError: name 'boeing_planes' is not defined

In [149]:
boeing_planes_copy

['boeing 707',
 'boeing 717',
 'boeing 727',
 'boeing 737 original',
 'boeing 737 Classic',
 'boeing 737',
 'boeing 737',
 'boeing 747']

# TUPLES : (Working with Tuples)

Tuples are also a complex data type in python, tuples are immutable , 
once they are created they cannot be modified

In [1]:
empty_tuple =()

In [2]:
print(empty_tuple)

()

In [3]:
  type(empty_tuple)

tuple

In [4]:
childrens_books = ('timy failure', 'Diary of a Wimpy Kid', 'Calvin Hobbes')
type(childrens_books)

tuple

#tuples once created cannot be modified or append something to it and whenever you try it throws an error, they're said to be immutable

In [5]:
 childrens_books.append('Spiderman')

AttributeError: 'tuple' object has no attribute 'append'

In [6]:
childrens_books

('timy failure', 'Diary of a Wimpy Kid', 'Calvin Hobbes')

#slicing Operations are possible when using Tuples just like in lists, and indexing are also used to refer to elements in a tuple.  however, when an index is out of range it throws an error.

In [8]:
childrens_books[0:2]

('timy failure', 'Diary of a Wimpy Kid')

In [11]:
character_tuple = tuple['bedsheet']

character_tuple

TypeError: 'type' object is not subscriptable

In [14]:
fruits_list = ["Apple", "Banana", "Orange", "Watermelon"]
fruits_list

['Apple', 'Banana', 'Orange', 'Watermelon']

In [18]:
fruits_tuple = tuple[fruits_list]

TypeError: 'type' object is not subscriptable

NameError: name 'fruits_tuple' is not defined

# #Dictionaries

the dictionaries is a complex data type that stores key-value pairs of elements

In [20]:
empty_dict = {}

In [21]:
print(empty_dict)

{}

In [22]:
type(empty_dict)

dict

In [3]:
names_and_ages ={"Suzie" : 6,
                 "calvin" : 5,
                 "Hobbes" : 4 }

In [5]:
names_and_ages

{'Suzie': 6, 'calvin': 5, 'Hobbes': 4}

In [4]:
print(names_and_ages["calvin"])

5

In [7]:
names_and_ages["Hobbes"]

4

In [8]:
names_and_ages["Suzie"]

6

#you can use the .keys()  function to display all the keys in that dictionary, you can also use the .values()fuction to display all the associated values of the the dictionary, also .items() fuction

In [11]:
names_and_ages.keys()

dict_keys(['Suzie', 'calvin', 'Hobbes'])

In [12]:
names_and_ages.values()

dict_values([6, 5, 4])

In [13]:
names_and_ages.items()

dict_items([('Suzie', 6), ('calvin', 5), ('Hobbes', 4)])

#dictionary are mutable, means you can add or remove elements from the dictionary set.

In [15]:
names_and_ages["Rowley"] = 15

names_and_ages

{'Suzie': 6, 'calvin': 5, 'Hobbes': 4, 'Rowley': 15}

# you can use the pop() function to remove a certain key-value pair element in the dictionary

In [19]:
names_and_ages.pop("calvin")
names_and_ages

{'Suzie': 6, 'Hobbes': 4, 'Rowley': 15}

you can also use the del keyword to remove a key-value pair element in the dictionary

In [22]:
del names_and_ages["Rowley"]

names_and_ages

KeyError: 'Rowley'

In [23]:
names_and_ages

{'Suzie': 6, 'Hobbes': 4}

In [24]:
Occupations_and_names = {"Doctors" : ['John', 'Nina', 'steve'],
                         "Engineers": ['Bill', 'Emily', 'Jane'],
                         "Pilots" : ['Sally', 'Richard', 'Bob']
                        }

In [25]:
Occupations_and_names

{'Doctors': ['John', 'Nina', 'steve'],
 'Engineers': ['Bill', 'Emily', 'Jane'],
 'Pilots': ['Sally', 'Richard', 'Bob']}

In [26]:
Occupations_and_names['Engineers'][0]

'Bill'

In [27]:
Occupations_and_names['Doctors'][2]

'steve'

In [28]:
Occupations_and_names['Pilots'][1]

'Richard'

In [29]:
int_key_dict = { 1 : "Susie",
                2 : "Calvin",
                3 : "Hobbes"
    
                }

In [32]:
int_key_dict[1]

'Susie'

In [33]:
int_key_dict[9]

KeyError: 9